<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品一覧 | ごほうびほっかいどう</title>

	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/list.css}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/_header.css}">

</head>

<body>

	<!-- =========================
    HEADER
========================== -->
	<header th:replace="layout/_header :: header"></header>

	<!-- =========================
    MAIN
========================== -->
	<main class="product-list-page">

		

			<!-- タイトル -->
			<div class="page-title-area">
				<h1>商品一覧</h1>
			</div>
			
			<p class="count">
			    全<span th:text="${totalCount}"></span>件
			</p>
			
			<!-- 商品一覧 -->
			<div class="product-grid">

				<a th:each="product : ${products}" th:href="@{/products/{id}(id=${product.id})}"
					class="product-link">

					<div class="product-card">

						<div class="product-image-wrap">
							<img th:src="@{/images/logo_2.jpg}" th:alt="${product.name}">
						</div>

						<div class="product-info">

							<div class="product-category" th:text="${product.productCategoryName}">
								カテゴリ
							</div>

							<h2 class="product-name" th:text="${product.name}">
								商品名
							</h2>

							<p class="product-area" th:text="${product.hokkaidoAreaName}">
								地域名
							</p>

							<div class="product-bottom">

								<div class="product-price">
									¥<span th:text="${#numbers.formatInteger(product.price, 1, 'COMMA')}">
										0
									</span>
								</div>

								<div class="detail-button">
									詳細を見る
								</div>

							</div>

						</div>

					</div>

				</a>

			</div>

		</div>

		<!-- =========================
		     PAGINATION
		========================== -->
		<nav class="pagination-area" th:if="${totalPages > 1}">

		    <!-- 前へ -->
		    <a class="page-arrow"
		       th:href="@{/products(page=${currentPage - 1})}"
		       th:classappend="${currentPage == 1} ? ' disabled'">
		        ‹
		    </a>

		    <!-- ページ番号 -->
		    <a class="page-button"
		       th:each="i : ${#numbers.sequence(1, totalPages)}"
		       th:href="@{/products(page=${i})}"
		       th:text="${i}"
		       th:classappend="${i == currentPage} ? ' active'">
		    </a>

		    <!-- 次へ -->
		    <a class="page-arrow"
		       th:href="@{/products(page=${currentPage + 1})}"
		       th:classappend="${currentPage == totalPages} ? ' disabled'">
		        ›
		    </a>

		</nav>

		<!-- 商品が0件 -->
		<div class="empty-message" th:if="${#lists.isEmpty(products)}">

			<p>現在、商品が登録されていません。</p>

		</div>

		</div>

	</main>

</body>

</html>