<!DOCTYPE html>
<html lang="ja">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>マイページ | ごほうびほっかいどう</title>

	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/css/profile.css}">
	<link rel="stylesheet" th:href="@{/css/_header.css}">

</head>

<body>

	<header th:replace="layout/_header :: header"></header>

	<main class="mypage-container">

		<!-- 上段 -->
		<section class="top-area">

			<!-- 左 -->
			<div class="left-area">

				<!-- レベル -->
				<div class="level-box">
					<span th:text="${user.job.name}"></span>
					<span th:text="'Lv.' + ${user.level}"></span>
				</div>

				<!-- 職業 -->
				<div class="job-area">

					<div class="job-icon">
						<img th:src="@{${user.job.imagePath}}" alt="職業アイコン">
					</div>

				</div>

				<!-- 次レベル -->
				<div class="next-level-box">

					<div class="next-level-text">
						次のレベルまであと
						<strong th:text="${remainAmount} + '円'"></strong>
					</div>

					<div class="progress-bar">
						<div class="progress-fill" th:style="'width:' + ${progressPercent} + '%'">
						</div>
					</div>

				</div>

			</div>

			<!-- 右 -->
			<div class="right-area">

				<!-- ステータス -->
				<div class="status-row">

					<div class="status-card">
						購入金額ランキング
						<strong th:text="${userRank} + '/' + ${userCount}"></strong>
					</div>

					<div class="status-card">
						累計購入金額
						<strong th:text="${totalAmount} + '円'"></strong>
					</div>

				</div>

				<!-- メニュー -->
				<div class="menu-column">

					<a href="/achievements" class="menu-btn">
						実績一覧
					</a>

					<a href="/stamp" class="menu-btn">
						スタンプ一覧
					</a>

					<a href="/orders" class="menu-btn">
						購入履歴
					</a>

					<a href="/edit" class="menu-btn">
						登録情報の編集
					</a>

				</div>

			</div>

		</section>

		<!-- クーポン -->
		<section class="coupon-section">

			<h2>所持クーポン</h2>

			<div class="coupon-list" th:each="hasCoupon : ${hasCoupons}">

				<div class="coupon-card">
					<h3 th:text="${hasCoupon.name}">北海道応援クーポン</h3>
				</div>

			</div>

		</section>

		<!-- 登録情報 -->
		<section class="profile-section">

			<h2>登録情報</h2>

			<table>

				<tr>
					<th>ユーザー名</th>
					<td th:text="${user.name}"></td>
				</tr>

				<tr>
					<th>メールアドレス</th>
					<td th:text="${user.email}"></td>
				</tr>

			</table>

		</section>

	</main>

</body>

</html>