<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductImagesMapper">

	<select id="findByProductId"
		resultType="com.example.demo.entity.ProductImages">
		SELECT *
		FROM product_images
		WHERE product_id = #{product_id}
	</select>

</mapper>
