<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductMapper">

	<select id="findById"
		resultType="com.example.demo.entity.Product">
		SELECT id, name, price, review_star, stock,
		product_category_id ,hokkaido_area_id
		FROM products
		WHERE id = #{id}
	</select>

	<!-- ページネーション -->
	<!-- <select id="findPage" -->
	<!-- resultType="com.example.demo.entity.Product"> -->

	<!-- SELECT -->
	<!-- p.id, -->
	<!-- p.name, -->
	<!-- p.price, -->
	<!-- p.review_star, -->
	<!-- p.stock, -->
	<!-- p.product_category_id, -->
	<!-- hc.name AS hokkaidoAreaName, -->
	<!-- pc.name AS -->
	<!-- productCategoryName -->

	<!-- FROM products p -->

	<!-- LEFT JOIN hokkaido_areas hc -->
	<!-- ON -->
	<!-- p.hokkaido_area_id = hc.id -->

	<!-- LEFT JOIN product_categories pc -->
	<!-- ON -->
	<!-- p.product_category_id = pc.id -->

	<!-- <where> -->
	<!-- <if test="keyword != null and keyword != ''"> -->
	<!-- p.name LIKE CONCAT('%', #{keyword}, '%') -->
	<!-- </if> -->

	<!-- <if test="categoryId != null"> -->
	<!-- AND p.product_category_id = #{categoryId} -->
	<!-- </if> -->
	<!-- </where> -->

	<!-- ORDER BY p.id DESC -->
	<!-- LIMIT #{pageSize} OFFSET #{offset} -->

	<!-- </select> -->
	<select id="findPage"
		resultType="com.example.demo.entity.Product">

		SELECT
		p.id,
		p.name,
		p.price,
		p.review_star,
		p.stock,
		p.product_category_id,

		hc.name AS hokkaidoAreaName,

		pc.name AS
		productCategoryName,

		(
		SELECT pi.image_path
		FROM product_images pi
		WHERE
		pi.product_id = p.id
		ORDER BY pi.id ASC
		LIMIT 1
		) AS imagePath

		FROM
		products p

		LEFT JOIN hokkaido_areas hc
		ON p.hokkaido_area_id = hc.id

		LEFT JOIN product_categories pc
		ON p.product_category_id = pc.id

		<where>

			<if test="keyword != null and keyword != ''">
				p.name LIKE CONCAT('%', #{keyword}, '%')
			</if>

			<if test="categoryId != null">
				AND p.product_category_id = #{categoryId}
			</if>

		</where>

		ORDER BY p.id DESC

		LIMIT #{pageSize}
		OFFSET #{offset}

	</select>

	<select id="countAll" resultType="int">

		SELECT COUNT(*)

		FROM products p

		LEFT JOIN hokkaido_areas hc
		ON
		p.hokkaido_area_id = hc.id

		LEFT JOIN product_categories pc
		ON
		p.product_category_id = pc.id

		<where>
			<if test="keyword != null and keyword != ''">
				p.name LIKE CONCAT('%', #{keyword}, '%')
			</if>

			<if test="categoryId != null">
				AND p.product_category_id = #{categoryId}
			</if>
		</where>

	</select>

	<!-- おすすめ商品を表示 -->
	<select id="findRecommend"
		resultType="com.example.demo.entity.Product">
		SELECT
		p.id,
		p.name,
		p.price,
		c.name AS product_category_name,
		h.name AS
		hokkaido_area_name,
		MIN(product_images.image_path) AS image_path
		FROM
		products p
		LEFT
		JOIN
		product_categories c
		ON
		p.product_category_id = c.id
		LEFT JOIN
		hokkaido_areas h
		ON
		p.hokkaido_area_id = h.id
		LEFT JOIN
		product_images
		ON
		p.id =
		product_images.product_id
		WHERE c.id = #{jobId}
		group by
		p.id, p.name,
		p.price, c.name,
		h.name
		ORDER BY p.id ASC
		<!-- ORDER BY p.id DESC -->
	</select>

	<select id="findRecommend3"
		resultType="com.example.demo.entity.Product">
		SELECT
		p.id,
		p.name,
		p.price,
		c.name AS product_category_name,
		h.name AS
		hokkaido_area_name,
		MIN(product_images.image_path) AS
		image_path
		FROM products p
		LEFT
		JOIN
		product_categories c
		ON
		p.product_category_id = c.id
		LEFT JOIN
		hokkaido_areas h
		ON
		p.hokkaido_area_id = h.id
		LEFT JOIN
		product_images
		ON
		p.id =
		product_images.product_id
		group by
		p.id, p.name,
		p.price, c.name,
		h.name
		ORDER BY p.id DESC
		LIMIT 3
	</select>
	<!-- 商品の売上ランキングを表示 -->
	<!-- order_itemsとproductsをjoin -->
	<!--group by を使って、product_idごとに分割する -->
	<!--product_idが同じもののquantityを足し合わせて、合計個数sumを出す -->
	<!--合計個数と単価priceを掛け合わせ、累計売上totalSalesを出す -->
	<!--totalSalesを降順に並べ、大きいものから順にlimitで3つ表示する -->
	<select id="findProductsTop3"
		resultType="com.example.demo.entity.Product">
		SELECT
		p.id, SUM(o.quantity)* p.price AS total_price

		FROM
		products p
		JOIN order_items o
		ON p.id = o.product_id
		GROUP BY p.id
		ORDER
		BY total_price DESC
		LIMIT 3
	</select>

	<update id="decrementStock">
		UPDATE products
		SET stock = stock - #{quantity}
		WHERE
		id = #{productId}
	</update>

</mapper>
