<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductMapper">

	<!--商品一覧で、商品情報とエリア名とカテゴリを表示 -->
	<select id="findAll"
		resultType="com.example.demo.entity.Product">

		SELECT
		p.*,
		h.name AS hokkaido_area_name,
		c.name AS
		product_category_name
		FROM products p
		LEFT JOIN hokkaido_areas h
		ON
		p.hokkaido_area_id = h.id
		LEFT JOIN product_categories c
		ON
		p.product_category_id = c.id

	</select>

	<select id="findById"
		resultType="com.example.demo.entity.Product">
		SELECT id, name, price, review_star, stock
		FROM products
		WHERE id = #{id}
	</select>

	<!-- ページネーション -->
	<select id="findPage"
		resultType="com.example.demo.entity.Product">

		SELECT *
		FROM products
		ORDER BY id
		LIMIT #{limit}
		OFFSET
		#{offset}

	</select>

	<select id="countAll" resultType="int">

		SELECT COUNT(*)
		FROM products

	</select>

</mapper>
