<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">

	<update id="update">
		UPDATE users
		SET
		name = #{name}
		WHERE id = #{id}
	</update>

	<select id="findUsersTop3"
		resultType="com.example.demo.entity.Product">
		SELECT
		u.id, SUM(o.total_amount)AS total_amount_sum
		FROM
		users u
		JOIN orders o
		ON u.id = o.user_id
		GROUP BY u.id
		ORDER
		BY total_amount_sum DESC
		LIMIT 3
	</select>

</mapper>
